/* body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgb(86, 86, 173);
}
.input_video,
#pose-canvas{
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: block;
}
.buttonsContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 260px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.floatingContainer {
  display: flex;
  display: inline-block;
  background-color: #9b9b9b45;
  align-content: center;
  border-radius: 50px / 100%;
  margin: 0 auto;
}

.floatingButtons {
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

.floatingButtons .buttonFloating1,
.floatingButtons .buttonFloating2 {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #805CFE;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
}

.carouselContainer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 26px;
  position: relative;
  padding: 40px 0 30px;
  background-color: #d0d0d0cf;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carouselButtons {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;
  scrollbar-width: none;
}

.carouselButtons .buttonCarousel {
  position: relative;
  display: inline-flex;
  font-size: 100%;
  padding: 8px;
  width: auto;
  height: auto;
  margin: 0 8px;
  background-color: none;
  color: #202020;
  border: none;
  border-radius: 25% / 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.carouselButtons .buttonCarousel.active {
  background-color: green;
  color: #ffffff;
}

.mainContainer {
  background-color: #d0d0d0cf;
  justify-content: space-around;
  padding-top: 4px;
  align-content: center;
}

.mainButtons {
  padding-left: 34%;
  gap: 12%;
  height: 100%;
  
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding-bottom: 50px;
}

.mainButtons .buttonCam {
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff; 
  color: #805CFE;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.mainButtons .buttonPhoto {
  width: 70px;
  height: 70px;
  background-color: #805CFE;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 4;
} */