body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-image: url("./image.png"); */
  background-size: cover; /* Ensures the image covers the entire body */
  background-position: center; /* Centers the image */
  /* background-color: rgb(255, 238, 217); */
}

.container {
  position: fixed;
  bottom: 0;
  width: 100svw;
  height: 28%;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}
.floatingContainer{
  display: inline-block;
  background-color: #67676745;
  align-content: center;
  border-radius: 20px;
  margin: 0 38vw;
  height: 60%;
}
.floatingButtons {
  display: flex;
  justify-content: space-around;
}
.floatingButtons button{
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #805CFE;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.carouselContainer {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  height: 10%;
  position: relative;
  padding: 4svh 0;
  background-color: #d0d0d0;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carouselButtons {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;
  scrollbar-width: none;
}
.carouselButtons button{
  position: relative;
  display: inline-flex;
  font-size: 100%;
  padding: 2%;
  width: auto;
  height: auto;
  margin: 0 5px;
  background-color: #805CFE;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.mainButtons {
  /* padding-left: 32svw; */
  padding-left: 33svw;
  display: flex;
  gap: 8svw;
  height: 12svh;
  background-color: #d0d0d0;
  justify-content: space-around;
  align-items: top;
}
.mainButtons .buttonCam{
  margin-top: 2svh;
  width: 4svh;
  height: 4svh;
  background-color: #ffffff;
  color: #805CFE;
  border: none;
  border-radius: 8svh;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.mainButtons .buttonPhoto{
  width: 8svh;
  height: 8svh;
  background-color: #805CFE;
  color: white;
  border: none;
  border-radius: 8svh;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
