.input_video,
#pose-canvas{
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.camera {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.container {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.buttons {
  height: 10svh;
  z-index: 3;
  bottom: 0;
  display: flex;
  background-color: #202020;
  justify-content:space-evenly;
  padding: 2vmin 0 2vmin 0;
}

.buttons button {
  font-size: 8vmin;
  text-align: center;
  width: 80px;
  color: #EDEDED;
  background-color: #805CFE;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
